footer.page-footer {
    margin: 0;
    margin-bottom: -22px;
}

img.img-logo{
    margin-top: 0rem;
}

img.social{
    margin-left: 1rem;
    margin-top: 1rem;
}
.block {
    display: none;
}

nav.navbar-inicio{
    height: 47rem      
}

div.post-lateral{
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: cornflowerblue;
    transition: box-shadow .25s;
    border-radius: 2px;
}

hr.estilo{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.inicio{
    height: 47rem      
}